WebContent/wsdl/EnvioClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://envio.empregador.servicos.esocial.gov.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://envio.empregador.servicos.esocial.gov.br" xmlns:intf="http://envio.empregador.servicos.esocial.gov.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://envio.empregador.servicos.esocial.gov.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="envioEsocial">
    <complexType>
     <sequence>
      <element name="xml" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="envioEsocialResponse">
    <complexType>
     <sequence>
      <element name="envioEsocialReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="envioEsocialRequest">

      <wsdl:part element="impl:envioEsocial" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="envioEsocialResponse">

      <wsdl:part element="impl:envioEsocialResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EnvioClient">

      <wsdl:operation name="envioEsocial">

         <wsdl:input message="impl:envioEsocialRequest" name="envioEsocialRequest">

       </wsdl:input>

         <wsdl:output message="impl:envioEsocialResponse" name="envioEsocialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EnvioClientSoapBinding" type="impl:EnvioClient">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="envioEsocial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="envioEsocialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="envioEsocialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EnvioClientService">

      <wsdl:port binding="impl:EnvioClientSoapBinding" name="EnvioClient">

         <wsdlsoap:address location="http://localhost:8085/EnvioConsultaEsocial/services/EnvioClient"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
